body {
  margin: 0;
}

#navbar {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  flex-grow: 1;
  max-height: 10%;
  min-height: 40px;
  justify-content: space-between;
}
#navBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

#homeLink {
  text-decoration: underline;
  color: white;
  font-size: x-large;
  font-weight: bold;
}

#postsLink {
  text-decoration: underline;
  color: white;
  font-size: x-large;
  font-weight: bold;
}

#loginLink {
  text-decoration: underline;
  color: white;
  font-size: x-large;
  font-weight: bold;
}

#logoutLink { 
  font-family:'Times New Roman', Times, serif;
  text-decoration: underline;
  color: white;
  background-color: black;
  border: none;
  font-size: x-large;
  font-weight: bold;
}




#LoginPage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}
#LoginCard {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: solid 2px black;
  width: 500px;
  align-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  gap: 10px;
}

#registerPage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}

#registerCard {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: solid 2px black;
  width: 500px;
  align-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  gap: 10px;
}

#resetPage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}
#resetCard {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: solid 2px black;
  width: 500px;
  align-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  gap: 10px;
}

#footer {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
  text-decoration: underline;
}
.welcomeUser{
  border-bottom: solid black 2px;
  text-align: center;
  padding-bottom: 20px;
}