body {
  margin: 0;
  font-family: "Tilt Neon";
  background-color: #f2f2f2;
}

#navbar {
  background-color: #455559;
  color: white;
  display: flex;
  align-items: center;
  flex-grow: 1;
  max-height: 10%;
  min-height: 50px;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}
#navBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

#homeLink {
  text-decoration: underline;
  color: white;
  font-size: x-large;
  font-weight: bold;
}

#postsLink {
  text-decoration: underline;
  color: white;
  font-size: x-large;
  font-weight: bold;
}

#allPostsLink {
  text-decoration: underline;
  color: white;
  font-size: x-large;
  font-weight: bold;
}

#loginLink {
  text-decoration: underline;
  color: white;
  font-size: x-large;
  font-weight: bold;
}

#logoutLink {
  font-family: "Tilt Neon";
  text-decoration: underline;
  color: white;
  background-color: #455559;
  border: none;
  font-size: x-large;
  font-weight: bold;
  margin-left: 0px;
  padding: 0px;
}

#postFormLink {
  text-decoration: underline;
  color: white;
  font-size: x-large;
  font-weight: bold;
}

#messageViewLink {
  text-decoration: underline;
  color: white;
  font-size: x-large;
  font-weight: bold;
}
#postCard {
  /* border: solid 1px black; */
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 25px;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
  box-shadow: 5px 5px 20px;
}

.title {
  margin-block-start: 0px;
}
ul {
  padding-inline-start: 5px;
}
li {
  list-style-type: none;
  padding-left: 10px;
  margin-top: 10px;
}
#submitPostPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
#createPostTitle {
  display: flex;
  flex-direction: column;
}
#submitPost {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* border: solid 2px black; */
  width: 500px;
  align-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  gap: 10px;
  background-color: white;
  box-shadow: 10px 10px 30px;
}

#postName {
  width: 400px;
}

#postDesc {
  width: 400px;
  height: 50px;
}

#postPrice {
  width: 400px;
}
#yourMessagesHeader {
  text-align: center;
  border-bottom: solid 2px black;
  padding-bottom: 20px;
}

#messageViewCard {
  /* border: solid 1px black; */
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 10px;
  margin-left: 40px;
  margin-right: 40px;
  background-color: #bcc5ce;
  /* box-shadow: 5px 5px 20px; */
}
#messageFrom {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-bottom: 5px;
}

#messageContent {
  margin-block-start: 0px;
  margin-block-end: 0px;
}
#LoginPage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}

#loginTitle {
  text-align: center;
}
#LoginCard {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* border: solid 2px black; */
  width: 500px;
  align-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  gap: 10px;
  background-color: white;
  box-shadow: 10px 10px 30px;
}

#registerPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

#registerTitle {
  text-align: center;
}

#registerCard {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* border: solid 2px black; */
  width: 500px;
  align-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  gap: 10px;
  box-shadow: 10px 10px 30px;
  background-color: white;
}

#resetPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
#passwordResetTitle {
  text-align: center;
}
#resetCard {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* border: solid 2px black; */
  width: 500px;
  align-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  gap: 10px;
  background-color: white;
  box-shadow: 10px 10px 30px;
}

#footer {
  background-color: #28403d;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
  text-decoration: underline;
}
#welcomeUser {
  border-bottom: solid black 2px;
  text-align: center;
  padding-bottom: 20px;
}

button {
  margin-left: 10px;
  font-family: "Tilt Neon";
}

#deleteButton {
  margin-left: 0px;
  font-family: "Tilt Neon";
}
